*.scp
*~
*.cproject
*.o
*.nexe
*.a
*.log
*.manifest

*.nvram
*.null
tarimage/mounts/exported.tar
tarimage/stderr.data
tarimage/stdout.data
tarimage/zrtdebug.data
wordcount/report.txt
wordcount/data/*.res
